@font-face {
  font-family: 'Revue';
  src: local('Revue'), url('../fonts/Revue.ttf') format('truetype')
}

/* * {
  box-sizing: border-box;
} */

.title {
  font-family: 'Revue';
}

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  position: relative;
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: 'border-box';
  background-color: #d03c28
}

.boardWrapper {
  display: flex;
  position: fixed;
  width: 100%
}

.playSquaresWrapper {
  display: flex;
  justify-content: center;
  width: 50%
}

.playerScores {
  display: flex;
  width: 50%;
}

.scoreTable {
  display: flex;
  margin: 0 5px;
}

.scoreItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3px 0
}

.scoreColumn {
  display: flex;
  flex-direction: column;
  width: 33.33333%
}

.scoreColumn > span {
  border: 1px solid
}

.scoreColumn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3px 0;
  font-family: sans-serif;
  color: #fff;
}

.playerNameModalBackdrop {
  position: fixed;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0,0,0,0.5);
}

.playerNameModal {
  position: fixed;
  z-index: 1;
  top: 15%;
  left: 25%;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px #fff solid;
  border-radius: 3px;
  background-color: #d03c28;
  display: flex;
  /* flex-direction: column; */
  justify-content: center;
  align-items: center;
  font-family: sans-serif;
  color: #000;
}

.playerNameModal h3 {
  font-size: 30px;
}

.playerNameInput {
  display: flex;
  align-items: center;
  justify-content: center;
}

.playerNameInput input {
  /* width: 40%; */
  border-radius: 3px;
  border: 3px solid #000;
  margin: 0 10px;
  padding: 10px 10px;
  font-size: 14px;
}

.playerNameModalContent {
  display: flex;
  height: 100%;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.animated {
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

@-webkit-keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

@keyframes shake {
  from,
  to {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
  }

  10%,
  30%,
  50%,
  70%,
  90% {
    -webkit-transform: translate3d(-10px, 0, 0);
    transform: translate3d(-10px, 0, 0);
  }

  20%,
  40%,
  60%,
  80% {
    -webkit-transform: translate3d(10px, 0, 0);
    transform: translate3d(10px, 0, 0);
  }
}

.shake {
  -webkit-animation-name: shake;
  animation-name: shake;
}

@-webkit-keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

@keyframes tada {
  from {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }

  10%,
  20% {
    -webkit-transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -3deg);
  }

  30%,
  50%,
  70%,
  90% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, 3deg);
  }

  40%,
  60%,
  80% {
    -webkit-transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
    transform: scale3d(1.1, 1.1, 1.1) rotate3d(0, 0, 1, -3deg);
  }

  to {
    -webkit-transform: scale3d(1, 1, 1);
    transform: scale3d(1, 1, 1);
  }
}

.tada {
  -webkit-animation-name: tada;
  animation-name: tada;
}