body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.container {
  height: 100vh;
  padding: 0;
  margin: 0;
  box-sizing: 'border-box';
  background-color: #d03c28
}

.boardWrapper {
  display: flex;
}

.playSquaresWrapper {
  display: flex;
  justify-content: center;
  width: 50%
}

.playerScores {
  display: flex;
  width: 50%;
}

.scoreTable {
  display: flex;
  margin: 0 5px;
}

.scoreItem {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3px 0
}

.scoreColumn {
  display: flex;
  flex-direction: column;
  width: 33.33333%
}

.scoreColumn > span {
  border: 1px solid
}

.scoreColumn > span {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: 3px 0;
  font-family: sans-serif;
  color: #fff;
}


